<dbackup compress="gzip">
    <archives>
        <includes>
            <path>/etc/nginx/nginx.conf</path>
            <path>/etc/redis/redis.conf</path>
            <path>/etc/logrotate.d/</path>
        </includes>
        <excludes>
            <path>/etc/logrotate.d/syslog</path>
        </excludes>
    </archives>
    <databases>
        <database type="postgres">
            <option name="host" value="localhost"></option>
            <option name="port" value="5432"></option>
            <option name="database" value="dummy"></option>
            <option name="username" value="postgres"></option>
            <option name="password" value="password"></option>
            <option name="path_to_pg_dump" value="pg_dump"></option>
        </database>
    </databases>
    <store_to>
        <store type="local">
            <option name="remove_threshold" value="30d"></option>      
            <option name="path" value="/xx/yy"></option>
        </store>
        <store type="s3">
            <option name="remove_threshold" value="30d"></option>      
            <option name="region" value="ap-southeast-1"></option>
            <option name="bucket" value="aa"></option>
            <option name="path" value="path"></option>
            <option name="access_key_id" value="123"></option>
            <option name="secret_access_key" value="123"></option>
        </store>
        <store type="aliyun_oss">
            <option name="remove_threshold" value="30d"></option>      
            <option name="bucket" value="ap-southeast-1"></option>
            <option name="endpoint" value="oss-cn-hangzhou-internal.aliyuncs.com"></option>
            <option name="path" value="path"></option>
            <option name="access_key_id" value="123"></option>
            <option name="secret_access_key" value="123"></option>
        </store>
    </store_to>
    <notifiers>
        <http_post on_success="true" on_warning="true" on_failure="true">
            <option name="uri" value="https://user:password@your.domain.com:8443/path"></option>
        </http_post>
        <slack on_success="true" on_warning="true" on_failure="true">
            <option name="webhook_url" value="your_webhook_url"></option>
            <option name="channel" value="channel"></option>
            <option name="username" value="huobazi"></option>
            <option name="icon_emoji" value="icon_emoji"></option>

        </slack>
    </notifiers>
</dbackup>