<?xml version="1.0" encoding="utf-8" ?>
<perform name="mockup" compress="gzip">
    <archives>
        <archive name="config">
            <includes>
                <path>/etc/redis/redis.conf</path>
                <path>/etc/nginx/nginx.conf</path>
                <path>/etc/logrotate.d/</path>
            </includes>
            <excludes>
                <path >/etc/logrotate.d/syslog"></path>
            </excludes>
        </archives>
    </archive>
    <databases>
        <database name="postgres" type="postgres">
            <option name="host" value="localhost"></option>
            <option name="port" value="5432"></option>
            <option name="database" value="dummy"></option>
            <option name="username" value="postgres"></option>
            <option name="password" value="password"></option>
            <option name="path_to_pg_dump" value="pg_dump"></option>
        </database>
        <database name="postgres2" type="postgres">
            <option name="host" value="localhost"></option>
            <option name="port" value="5432"></option>
            <option name="database" value="dummy"></option>
            <option name="username" value="postgres"></option>
            <option name="password" value="password"></option>
            <option name="path_to_pg_dump" value="pg_dump"></option>
        </database>
    </databases>
    <storages>
        <storage name="local" type="local">
            <option name="remove_threshold" value="30d"></option>
            <option name="path" value="/xx/yy"></option>
        </storage>
        <storage name="s3" type="s3">
            <option name="remove_threshold" value="30d"></option>
            <option name="region" value="ap-southeast-1"></option>
            <option name="bucket" value="aa"></option>
            <option name="path" value="path"></option>
            <option name="access_key_id" value="123"></option>
            <option name="secret_access_key" value="123"></option>
        </storage>
        <storage name="aliyun_oss" type="aliyun_oss">
            <option name="remove_threshold" value="30d"></option>
            <option name="bucket" value="ap-southeast-1"></option>
            <option name="endpoint" value="oss-cn-hangzhou-internal.aliyuncs.com"></option>
            <option name="path" value="path"></option>
            <option name="access_key_id" value="123"></option>
            <option name="secret_access_key" value="123"></option>
        </storage>
    </storages>
    <notifiers>
        <http_post name="http_post1" enable="false" on_success="true" on_warning="true" on_failure="true">
            <option name="url" value="https://user:password@your.domain.com:8443/path"></option>
            <option name="one" value="one"></option>
            <option name="two" value="two"></option>
            <header name="Authentication" value="my_auth_info"></header>
            <header name="other_token" value="token"></header>
        </http_post>
        <slack name="slack1" on_success="true" on_warning="true" on_failure="true">
            <option name="webhook_url" value="your_webhook_url"></option>
            <option name="channel" value="channel"></option>
            <option name="username" value="huobazi"></option>
            <option name="icon_emoji" value=":ghost:"></option>
        </slack>
        <email name="email1" delivery_method="smtp" on_success="true" on_warning="true" on_failure="true">
            <option name="from" value="no-reply@your.com"></option>
            <option name="to" value="to@to.com"></option>
            <option name="cc" value="cc@cc.com"></option>
            <option name="bcc" value="bcc@bcc.com"></option>
            <option name="address" value="smtp.yourcom"></option>
            <option name="port" value="25"></option>
            <option name="domain" value="your.client-domian.com"></option>
            <option name="user_name" value="your_user_name"></option>
            <option name="password" value="your_password"></option>
            <option name="authentication" value="plan"></option>
            <option name="enable_starttls" value="false"></option>
        </email>
    </notifiers>
</perform>