<?xml version="1.0" encoding="utf-8" ?>
<perform name="mockup" compress="gzip">
    <archives>
        <includes>
            <option name="nginx" value="/etc/nginx/nginx.conf"></option>
            <option name="redis" value="/etc/redis/redis.conf"></option>
            <option name="logrotate.d" value="/etc/logrotate.d/"></option>
        </includes>
        <excludes>
            <option name="syslog" value="/etc/logrotate.d/syslog"></option>
            <option name="other" value="/etc/other"></option>
        </excludes>
    </archives>
    <databases>
        <database name="postgres"  type="postgres">
            <option name="host" value="localhost"></option>
            <option name="port" value="5432"></option>
            <option name="database" value="dummy"></option>
            <option name="username" value="postgres"></option>
            <option name="password" value="password"></option>
            <option name="path_to_pg_dump" value="pg_dump"></option>
        </database>
        <database name="mysql" type="mysql">
            <option name="host" value="localhost"></option>
            <option name="port" value="3306"></option>
            <option name="database" value="dummy"></option>
            <option name="username" value="postgres"></option>
            <option name="password" value="password"></option>
            <option name="path_to_mysql_dump" value="mysql_dump"></option>
        </database>
    </databases>
    <storages>
        <storage name="local" type="local">
            <option name="remove_threshold" value="30d"></option>      
            <option name="path" value="/xx/yy"></option>
        </storage>
        <storage name="s3" type="s3">
            <option name="remove_threshold" value="30d"></option>      
            <option name="region" value="ap-southeast-1"></option>
            <option name="bucket" value="aa"></option>
            <option name="path" value="path"></option>
            <option name="access_key_id" value="123"></option>
            <option name="secret_access_key" value="123"></option>
        </storage>
        <storage name="aliyun_oss" type="aliyun_oss">
            <option name="remove_threshold" value="30d"></option>      
            <option name="bucket" value="ap-southeast-1"></option>
            <option name="endpoint" value="oss-cn-hangzhou-internal.aliyuncs.com"></option>
            <option name="path" value="path"></option>
            <option name="access_key_id" value="123"></option>
            <option name="secret_access_key" value="123"></option>
        </storage>
    </storages>
    <notifiers>
        <http_post on_success="true" on_warning="true" on_failure="true">
            <option name="url" value="https://user:password@your.domain.com:8443/path"></option>
            <option name="one" value="one"></option>
            <option name="two" value="two"></option>
        </http_post>
        <slack on_success="true" on_warning="true" on_failure="true">
            <option name="webhook_url" value="your_webhook_url"></option>
            <option name="channel" value="channel"></option>
            <option name="username" value="huobazi"></option>
            <option name="icon_emoji" value="icon_emoji"></option>
        </slack>
    </notifiers>
</perform>