<?xml version="1.0" encoding="utf-8" ?>
<perform name="mockup" compress="gzip">
    <archives>
        <archive name="config">
            <includes>
                <path>/etc/nginx/nginx.conf</path>
                <path>/your/path/projects/xxx/Gemfile</path>
                <path>/your/path/projects/dackup/</path>
            </includes>
            <excludes>
                <path>/your/path/projects/dackup/bin</path>
                <path>/your/path/projects/dackup/obj</path>
            </excludes>
        </archive>
    </archives>
    <databases>
        <database name="xxxx" type="postgres">
            <option name="host" value="localhost"></option>
            <option name="port" value="5432"></option>
            <option name="database" value="xxxx"></option>
            <option name="username" value="username"></option>
            <option name="password" value="password"></option>
            <option name="path_to_pg_dump" value="pg_dump"></option>
            <!-- see https://www.postgresql.org/docs/10/app-pgdump.html -->
            <additional_option name="--file" value="xxx.sql"></additional_option>
            <additional_option name="--format" value="plain"></additional_option>
            <additional_option name="--compress" value="0"></additional_option>
        </database>
        <database name="yyyy" type="postgres">
            <option name="host" value="localhost"></option>
            <option name="port" value="5432"></option>
            <option name="database" value="yyyy"></option>
            <option name="username" value="username"></option>
            <option name="password" value="password"></option>
            <option name="path_to_pg_dump" value="pg_dump"></option>
            <!-- see https://www.postgresql.org/docs/10/app-pgdump.html -->
            <additional_option name="--file" value="abcd.bak"></additional_option>
            <additional_option name="--compress" value="3"></additional_option>
        </database>
        <database name="redis1" type="redis">
            <option name="host" value="127.0.0.1"></option>
            <option name="port" value="6379"></option>
            <option name="password" value="password"></option>
            <option name="path_to_redis_cli" value="redis-cli"></option>
        </database>
        <database name="zzzz" type="mysql">
            <option name="host" value="localhost"></option>
            <option name="port" value="3306"></option>
            <option name="database" value="zzz"></option>
            <option name="username" value="username"></option>
            <option name="password" value="password"></option>
            <option name="path_to_mysqldump" value="mysqldump"></option>
            <!-- see https://dev.mysql.com/doc/refman/8.0/en/mysqldump.html -->
            <additional_option name="--result-file" value="abcd.sql"></additional_option>
        </database>
        <database name="mondb1" type="mongodb">
            <option name="host" value="localhost"></option>
            <option name="port" value="27017"></option>
            <option name="database" value="test"></option>
            <option name="username" value="root"></option>
            <option name="password" value="password"></option>
            <option name="path_to_mongodump" value="mongodump"></option>
            <!-- https://docs.mongodb.com/manual/reference/program/mongodump/#options -->
            <additional_option name="--authenticationDatabase" value="admin"></additional_option>
            <additional_option name="--archive" value="mongodb1.gz"></additional_option>
        </database>
        <database name="mssql1" type="mssql">
            <option name="host" value="localhost"></option>
            <option name="port" value="1433"></option>
            <option name="database" value="mssql1"></option>
            <option name="username" value="username"></option>
            <option name="password" value="password"></option>
            <option name="path_to_mssqldump" value="sqlcmd"></option>
        </database>
    </databases>
    <storages>
        <storage name="local" type="local">
            <option name="remove_threshold" value="30d"></option>
            <option name="path" value="/your/dackup-data"></option>
        </storage>
        <storage name="s3" type="s3" enable="true">
            <option name="remove_threshold" value="30d"></option>
            <option name="region" value="ap-northeast-1"></option>
            <option name="bucket" value="my-dackup-backup"></option>
            <option name="path" value="dackup-data"></option>
            <option name="access_key_id" value="access_key_id"></option>
            <option name="secret_access_key" value="secret_access_key"></option>
        </storage>
        <storage name="aliyun_oss" type="aliyun_oss" enable="true">
            <option name="remove_threshold" value="30d"></option>
            <option name="bucket" value="my-dackup-backup"></option>
            <option name="endpoint" value="oss-cn-hangzhou.aliyuncs.com"></option>
            <option name="path" value="dackup-data"></option>
            <option name="access_key_id" value="access_key_id"></option>
            <option name="access_key_secret" value="access_key_secret"></option>
        </storage>
        <storage name="ftp" type="ftp" enable="true">
            <option name="remove_threshold" value="30d"></option>
            <option name="host" value="127.0.0.1"></option>
            <option name="port" value="21"></option>
            <option name="path" value="/dackup-data"></option>
            <option name="username" value="username"></option>
            <option name="password" value="password"></option>
        </storage>
    </storages>
    <notifiers>
        <http_post name="http_post1" enable="false" on_success="true" on_warning="true" on_failure="true">
            <option name="url" value="http://your.com/notify"></option>
            <option name="one" value="one"></option>
            <option name="two" value="two"></option>
            <header name="Authentication" value="my_auth_info"></header>
            <header name="other_token" value="token"></header>
        </http_post>
        <dingtalk_robot name="dingtalk_robot1" enable="false" atAll="false" on_success="true" on_warning="true" on_failure="true">
            <option name="url" value="https://oapi.dingtalk.com/robot/send?access_token=your_token_content"></option>
            <at name="ceo" value="13312345678;13812345678;"></at>
            <at name="cto" value="13312345678;13812345678;"></at>
        </dingtalk_robot>
        <slack name="slack1" on_success="true" on_warning="true" on_failure="true">
            <option name="webhook_url" value="https://hooks.slack.com/services/xxx/yyy/zzz"></option>
            <option name="channel" value="channel_name"></option>
            <option name="username" value="username"></option>
            <option name="icon_emoji" value=":ghost:"></option>
        </slack>
        <email name="email1" delivery_method="smtp" on_success="true" on_warning="true" on_failure="true">
            <option name="from" value="your@your.com"></option>
            <option name="to" value="your@your.com"></option>
            <option name="cc" value="your@your.com"></option>
            <option name="bcc" value=""></option>
            <option name="address" value="smtp.xxx.com"></option>
            <option name="port" value="25"></option>
            <option name="domain" value="your.com"></option>
            <option name="user_name" value="user_name"></option>
            <option name="password" value="password"></option>
            <option name="authentication" value="plan"></option>
            <option name="enable_starttls" value="false"></option>
        </email>
    </notifiers>
</perform>