name: Build images
on: push

jobs:
  build:
    runs-on: ubuntu-latest

    steps:    
      - uses: olegtarasov/get-tag@v2
        id: tagName
      - uses: actions/checkout@v2
        
      - name: Build dackup image
        run: docker build -t dackup .
        
      - name: Push the master to GitHub Package Registry
        if: github.ref == 'refs/heads/master'
        run: |
          docker login docker.pkg.github.com -u $GITHUB_ACTOR -p ${{ secrets.PACKAGES_TOKEN }}
          docker tag dackup docker.pkg.github.com/huobazi/dackup/dackup:latest
          docker push docker.pkg.github.com/huobazi/dackup/dackup:latest 
        
      - name: Push the tag to GitHub Package Registry
        if: startsWith(github.ref, 'refs/tags/') && startsWith(${{ steps.tagName.outputs.tag }}, 'v')
        run: |
          docker login docker.pkg.github.com -u $GITHUB_ACTOR -p ${{ secrets.PACKAGES_TOKEN }}
          docker tag dackup docker.pkg.github.com/huobazi/dackup/dackup:$GIT_TAG_NAME
          docker push docker.pkg.github.com/huobazi/dackup/dackup:$GIT_TAG_NAME 
           
      - name: Push the master to Docker Hub
        if: github.ref == 'refs/heads/master'
        run: |
          docker login -u huobazi -p ${{ secrets.DOCKER_TOKEN }}
          docker tag dackup huobazi/dackup:latest
          docker push huobazi/dackup:latest

      - name: Push the tag to Docker Hub
        if: startsWith(github.ref, 'refs/tags/') && startsWith(${{ steps.tagName.outputs.tag }}, 'v')
        run: |
          docker login -u huobazi -p ${{ secrets.DOCKER_TOKEN }}
          docker tag dackup huobazi/dackup:$GIT_TAG_NAME
          docker push huobazi/dackup:$GIT_TAG_NAME
